@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

html, body, #root, .main-wrapper {
  background: #0C0C0C;
  font-family: 'Kanit', sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.hero-heading {
  background: linear-gradient(180deg, #646973 0%, #BBCCD7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.main-wrapper {
  overflow-x: clip;
}
